/* DORA - the fast-trips data EXPLORAH */
html,body, { width:100%; height:100%; margin:0;
  background-color: #222;
  font-family: Noto,Arial;
}

p {color:#ccc;}

h1,h3,h4,h5 {color: white; }
h1 {margin-top:0px;}
h2 {margin-top:4px;}
h3 {padding-top:5px;}
h4 {margin-right:10px;}
h5 {margin-top:4px; margin-bottom: 4px;}

hr {margin-bottom:0px;}

#container { position: relative; width:100%; height:100%; background-color:#888;}

.logo {
  text-align:right;
  vertical-align:center;
  margin-left:10px;
  margin-right:10px;
}

#table-logo {margin-top:5px;}

#panel {
  display: flex;
  flex-flow: column;
  position:absolute;
  width:400px;
  height:100%;
  top: 0;
  right: 0;
  padding:0px 10px 0px 10px;
  z-index:10;
  background-color:#444;
  float: right;
}

p.hint {color:#888; text-align:right; margin-right:25px;}

#panel label {
  color:white;
}

.colors { margin: 5px; cursor:pointer; border-style:solid; border-width:1px; border-color: #eee; opacity:0.80;}
.colors:hover {opacity: 1.0; border-color: #fff;}

#sfmap {
  margin-right: 400px;
  height:100%;
}

#daily-chart {
  height:225px;
}

#popup-title {
  color:#222;
  margin-top:0px;
  padding-top:0px;
}

.dashboard {
  padding:10px;
  padding-bottom:0px;
  flex: 1;
  overflow: auto;
}

#color-panel {
  text-align:center;
}

#sliderpanel {
  display: block;
}

.vue-slider-wrap {margin-left:20px;}

#picker { width:100%; margin-right:20px;}

.column1 {width:60%; float: left; margin-top:20px; margin-bottom:30px;}
.column2 {width:40%; float: right; }

/* 3D icon graphics */
.mapboxgl-ctrl-pitchtoggle-3d {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
}
.mapboxgl-ctrl-pitchtoggle-2d {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
}

a {color: #fff;}
a:hover {color: #ddd;}

.mapboxgl-popup-content {
  opacity:0.85;
  padding-bottom: 5px;
}
