/* DORA - the fast-trips data EXPLORAH */
html,body, { width:100%; height:100%; margin:0;
  background-color: #222;
  font-family: Noto,Arial;
}

p {color:#ccc;}

h1,h3,h4,h5 {color: white; }
h1 {margin-top:0px;}
h2 {margin-top:4px;}
h3 {padding-top:5px;}
h4 {margin-right:10px;}
h5 {margin-top:4px; margin-bottom: 4px;}

hr {margin-bottom:0px; color:#f00; background-color:#fff;}

#container {
  position: relative;
  width:100%;
  height:100%;
  background-color:#888;
}

#panel {
  display:table;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  width:400px;
  height:100%;
  padding:0px 20px 0px 20px;
  z-index:10;
  background-color:#444;
  float: right;
}


#header {
  display:table-row;
  vertical-align:top;
}

#stats-loader {
  margin-top:100px;
  color:#ccc;
}

#stats-panel {
  display:table-row;
  vertical-align:top;
  margin-left:auto;
  margin-right: auto;
}

.logo {
  display:table-row;
  text-align:right;
  vertical-align:bottom;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:0px;
  height:80px;
}


.apptitle {
  margin-top:-5px;
  margin-bottom:3px;
  color:#fff;
  text-align:center;
}

#helpbar {
  text-align:center;
  margin-bottom:20px;
}

.moreinfo {
  margin-bottom:15px;
  font-style:italic;
  font-size:13px;
  color:#fff;
}

#table-logo {margin-top:5px;}


p.hint {color:#777; text-align:right; margin-right:24px; margin-top:-20px;}

#panel label {
  color:white;
}

.colors { margin: 5px; cursor:pointer; border-style:solid; border-width:1px; border-color: #eee; opacity:0.80;}
.colors:hover {opacity: 1.0; border-color: #fff;}

#sfmap {
  height:100%;
  margin-right: 400px;
}

#helpbox {
     position: absolute;
     top:0;
     left:0;
     margin-top:8px;
     margin-left: 8px;
     width: 480px;
     z-index:20;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

#daily-chart {
  height:200px;
  margin-top:-15px;
}

#popup-title {
  color:#222;
  margin-top:0px;
  padding-top:0px;
}

#color-panel {
  display:none;
  text-align:center;
}

#sliderpanel {
  display: block;
}

.vue-slider-wrap {margin-left:20px;}

#picker { width:100%; margin-right:20px;}

.column1 {width:60%; float: left; margin-top:20px; margin-bottom:30px;}
.column2 {width:40%; float: right; }

/* 3D icon graphics */
.mapboxgl-ctrl-pitchtoggle-3d {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
}
.mapboxgl-ctrl-pitchtoggle-2d {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
}

a {color: #fff;}
a:hover {color: #ddd;}

.mapboxgl-popup-content {
  opacity:0.9;
  padding-bottom: 5px;
}

li {margin-bottom:4px;}
ul {margin-top:5px;}

table {text-align:center; vertical-align:top; }
td {text-align:center; vertical-align:top; }
.td-logo {text-align:right; vertical-align:middle; }

.fade-enter-active, .fade-leave-active {
  transition: opacity 1.0s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

#btn-all-day {
  position:absolute;right:0;margin-right:42px;margin-top:-22px;z-index:100;
}

#legend {
  position: absolute;
  bottom:0;
  left:0;
  margin-bottom:5px;
  margin-left:5px;
  width:500px;
  z-index:99;
}
