<!DOCTYPE html>
<html>
  <head>
    <title>TNCs TODAY</title>

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="http://www.sfcta.org/sites/all/themes/sfcta/favicon.ico" type="image/vnd.microsoft.icon" />
    <meta name="theme-color" content="#ffffff"/>

    <!-- VUE -->
    <script src="https://unpkg.com/vue"></script>

    <!-- MAPBOX GL -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />

    <!-- SEMANTIC UI -->
    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css" />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/semantic.min.js"></script>

    <!-- MORRIS CHARTS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <link rel="stylesheet" href="css/dora.css" />
  </head>

  <body>
    <div id="container">

      <div id="panel">
          <div class="dashboard">
            <h3 class="apptitle">TNC'S TODAY &nbsp;&bull;&nbsp; DATA EXPLORER</h3>
            <div class="moreinfo">
              <a href="#" @click="clickToggleHelp">What is this?</a>
              &nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;
              <a target="_blank" href="http://www.sfcta.org/tncstoday">Learn more&hellip;</a>
              <!--&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;
              <a target="_blank" href="http://www.sfcta.org/tncstoday">Share</a> -->
            </div>
            <hr/>
            <div id="picker">
                <h5>CHOOSE DIRECTION:</h5>
                <button @click="pickPickup" v-bind:class="{ active: isPickupActive }"
                         class="mini ui inverted blue button">Pick-ups</button>
                <button @click="pickDropoff" v-bind:class="{ active: isDropoffActive }"
                         class="mini ui inverted red button">Drop-offs</button>
                <br/>
                <br/>
                <h5>CHOOSE DAY OF WEEK:</h5>
                <button v-for="(item, index) in days"
                        @click="clickDay(index)"
                        class="mini ui inverted button"
                        v-bind:class="{ active: index==day, green: index <5, yellow: index >= 5 }">
                        {{item}}
                </button>

                <div id="stats-panel" class="ui">
                  <div id="stats-loader" class="ui loader" v-bind:class="{active: nowMoloading}"></div>

                  <br/>
                  <hr/>
                  <h1>{{details1}}<br/>
                      {{details2}}</h1>
                  <h5>&nbsp;TIME OF DAY:</h5>
                  <div id="daily-chart"></div>
                  <vue-slider v-bind="timeSlider" v-model="sliderValue"></vue-slider>
                  <br/>
                </div>
            </div>
          </div>

          <div class="logo">
            <hr/>
            <table id="table-logo"><tr>
              <td class="td-logo"><h4 class="agency"><b><a target="_blank" href="http://www.sfcta.org/tncstoday">SAN FRANCISCO COUNTY TRANSPORTATION AUTHORITY</a></b></h4></td>
              <td><a class="agency-link" target="_blank" href="http://www.sfcta.org/tncstoday"><img src="/sfcta-logo.png" width=75 height=75 ></img></a></td></tr>
            </table>
          </div>

      </div>
      <div id="sfmap"></div>
       <transition name="fade">
        <div id="helpbox" v-show="showHelp" class="ui segment">
            <h2 style="margin-top:10px; margin-bottom:0px;">
            Exploring the map</h2>
            <hr style="margin-bottom:5px"/>
            Click on any block to see the daily pickups and dropoffs for that area.
            <table><tr>
              <td class="help"><img height=96 src="mouse-left.png"></td>
              <td class="help"><img height=96 src="mouse-wheel.png"></td>
              <td class="help"><img height=96 src="mouse-right.png"></td>
            </tr><tr>
              <td class="help">Left-click and drag to pan the map</td>
              <td class="help">Mouse wheel changes zoom</td>
              <td class="help">Right-click and drag to change 3D view</td>
            </tr></table>
            <br/>

            <h2 style="margin-top:10px; margin-bottom:0px;">
            About this data</h2>
            <hr style="margin-bottom:5px"/>
            You're looking at an estimate of the number of TNC (Uber and Lyft) pickups and dropoffs in San Francisco&mdash;by location and by time of day.
            <ul>
            <li>Uber and Lyft trips are combined.</li>
            <li>Only rides that are <i>entirely within the city limits</i> are counted.
            <li>Darker colors and higher bars mean more trips to/from an area.</li>
            <li>Data is averaged from several weeks in fall 2016.</li>
            <li>No personal data is shown. Pickup/dropoff locations are merged by city block downtown, and by larger areas farther out.</li>
            </ul>
            <div style="float:right;margin-top:20px;">
              <button @click="this.window.location.href = 'http://www.sfcta.org/tncstoday'"
                      class="small ui basic violet button">
                      Learn more about TNCs&hellip;
              </button>
              <button @click="clickToggleHelp" class="small ui violet button">Close</button>
            </div>
         </div>
       </transition>
    </div>
    <script type="application/javascript" src="lib/main.bundle.js"></script>
  </body>
</html>
