<!DOCTYPE html>
<html>
  <head>
    <title>TNCs TODAY</title>

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="http://www.sfcta.org/sites/all/themes/sfcta/favicon.ico" type="image/vnd.microsoft.icon" />
    <meta name="theme-color" content="#ffffff"/>

    <!-- VUE -->
    <script src="https://unpkg.com/vue"></script>

    <!-- MAPBOX GL -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />

    <!-- SEMANTIC UI -->
    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css" />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/semantic.min.js"></script>

    <!-- MORRIS CHARTS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <link rel="stylesheet" href="css/dora.css" />
  </head>

  <body>
    <div id="container">

      <div id="panel">
          <div class="dashboard">
            <h3>TNC'S TODAY &raquo;&raquo; DATA EXPLORER</h3>
            <hr/>
            <div id="picker">
                <h5>CHOOSE DIRECTION:</h5>
                <button @click="pickPickup" v-bind:class="{ active: isPickupActive }"
                         class="mini ui inverted blue button">Pick-ups</button>
                <button @click="pickDropoff" v-bind:class="{ active: isDropoffActive }"
                         class="mini ui inverted red button">Drop-offs</button>
                <br/>
                <br/>
                <hr/>
                <h5>CHOOSE DAY OF WEEK:</h5>
                <button v-for="(item, index) in days"
                        @click="clickDay(index)"
                        class="mini ui inverted button"
                        v-bind:class="{ active: index==day, green: index <5, yellow: index >= 5 }"
                        v-bind:class="">{{item}}
                </button>

                <br/>
                <br/>
                <hr/>
                <h5>CHOOSE TIME OF DAY:</h5>
                <table width="100%" id="sliderpanel"><tr width="100%">
                  <td width="20%"><button @click="clickAllDay"
                                          class="mini ui inverted violet button"
                                          v-bind:class="{active: isAllDay}">
                                          All Day</button></td>
                  <td width="80%"><vue-slider v-bind="timeSlider" v-model="sliderValue"></vue-slider></td>
                </tr></table>

                <div id="stats-loader" class="ui loader" v-bind:class="{active: nowMoloading}"></div>
                <div id="stats-panel">
                  <br/>
                  <br/>
                  <hr/>
                  <h1>{{details1}}<br/>
                      {{details2}}</h1>
                  <div id="daily-chart"></div>
                </div>

            </div>
          </div>
          <div id="color-panel">
            <img class="colors" src="/light.jpg" width="35" @click="pickTheme(1)" title="Pick a color theme!"></img>
            <img class="colors" src="/dark.jpg"  width="35" @click="pickTheme(2)" title="Pick a color theme!"></img>
            <img class="colors" src="/neon.jpg"  width="35" @click="pickTheme(3)" title="Pick a color theme!"></img>
          </div>
          <div class="logo">
            <hr/>
            <table id="table-logo"><tr>
              <td><h4 class="agency"><b><a target="_blank" href="http://www.sfcta.org">SAN FRANCISCO COUNTY TRANSPORTATION AUTHORITY</a></b></h4></td>
			  <td><a class="agency-link" target="_blank" href="http://www.sfcta.org"><img src="/sfcta-logo.png" width=75 height=75 ></img></a></td></tr>
            </table>
          </div>
      </div>
      <div id="sfmap"></div>
    </div>

    <script type="application/javascript" src="lib/main.bundle.js"></script>
  </body>
</html>
