<!DOCTYPE html>
<html>
  <head>
    <title>DORA</title>

    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <link rel="stylesheet" href="dora.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="https://unpkg.com/vue"></script>
  </head>

  <body>
    <div id="panel">
        <h3><b>FAST-TRIPS &raquo; EXPLORER</b></h3>
        <hr/><br/>
        <label for="person">Person ID:</label>
        <input v-model='person' size=15 @keyUp.enter="runFilter">
        <button @click="runFilter">Fetch!</button>

        <label for="trips">Trip ID:</label>
        <select multiple id="trips" v-model='selectedTrips' :size='8'>
            <option v-for="trip in trips" :value="trip.trip_id">
                &nbsp;{{trip.trip_id}}&nbsp;
            </option>
        </select>

        <label for="paths">Path</label>
        <select multiple id="paths" v-model='selectedPaths' :size='8'>
            <option v-for="path in paths" :value="path.pathnum">
                &nbsp;{{path.pathnum}}&nbsp;
            </option>
        </select>
    </div>

    <div class="box">
      <div id="sfmap" class="row content"></div>
    </div>

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,fetch"></script>
    <script src="dora.js"></script>
  </body>
</html>
