/* DORA - the fast-trips data EXPLORAH */
html,body, { width:100%; height:100%; margin:0;
  background-color: #222;
  font-family: Noto,Arial;
}

p {color:#ccc;}

h3 {color: white; padding-top:5px;}
h4,h5 {color: white; }


#container { position: relative; width:100%; height:100%; background-color:#888;}

#panel {
  position:absolute;
  width:300px;
  height:100%;
  top: 0;
  right: 0;
  padding:0px 10px 10px 10px;
  z-index:10;
  background-color:#444;
  float: right;
}

#sfmap {
  margin-right: 300px;
  height:100%;
}

.dashboard { padding:10px;}

#panel label {
  color:white;
}

#sliderpanel {
  margin-left:200px;
  width:300px;
}

#picker { width:100%; margin-right:20px;}

.column1 {width:60%; float: left; margin-top:20px; margin-bottom:30px;}
.column2 {width:40%; float: right; }

/* 3D icon graphics */
.mapboxgl-ctrl-pitchtoggle-3d {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
}
.mapboxgl-ctrl-pitchtoggle-2d {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
}
