/* DORA - the fast-trips data EXPLORAH */
html,body, { width=100%; height:100%; margin:0;
  background-color: #222;
  font-family: Noto,Arial;
}

p {color:#ccc;}

#container { width:100%; height:100%; background-color:#444;}

#panel {
  padding: 0px 10px;
  width:100%;
}

h3 {color: white; padding-top:5px;}

#sfmap {
  height:100%; background-color:#444;
}

#panel label {
    display: block; padding-top:10px; color:white;
}

#picker { width:100%;}

.column1 {width:50%; float: left; margin-bottom:20px;}
.column2 {width:50%; float: right; margin-bottom:20px; z-index:20;}
