<!DOCTYPE html>
<html>
  <head>
    <title>TNC Explorer</title>

    <!-- FAVICONS -->
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <meta name="theme-color" content="#ffffff">

    <!-- LEAFLET -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <!-- VUE -->
    <script src="https://unpkg.com/vue"></script>

    <!-- MAPBOX GL -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />

    <!-- SEMANTIC UI -->
    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/semantic.min.js"></script>

    <!-- MORRIS CHARTS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <link rel="stylesheet" href="css/dora.css" />
  </head>

  <body>
    <div id="container">

      <div id="panel">
          <div class="dashboard">
            <h3><b>TNC EXPLORER &raquo;<br/><br/>SAN FRANCISCO COUNTY TRANSPORTATION AUTHORITY</b></h3>
            <br/>
            <hr/>
            <div id="picker">
                <h5>CHOOSE DIRECTION AND DAY OF WEEK:</h5>
                <button @click="pickPickup" v-bind:class="{ active: isPickupActive }"
                         class="mini ui inverted blue button">Pick-ups</button>
                <button @click="pickDropoff" v-bind:class="{ active: isDropoffActive }"
                         class="mini ui inverted red button">Drop-offs</button>
                <br/>
                <br/>
                <button v-for="(item, index) in days"
                        @click="clickDay(index)"
                        class="mini ui inverted button"
                        v-bind:class="{ active: index==day, blue: index <5, red: index >= 5 }"
                        v-bind:class="">{{item}}
                </button>
                  <div id="sliderpanel">
                    <button class="mini ui inverted active red button">All Day</button>

                    <vue-slider v-bind="timeSlider" v-model="sliderValue"></vue-slider>
                  </div>
                </h5>

                <br/>
                <br/>
                <br/>
                <div id="stats-panel">
                  <hr/>
                  <h5>CITYWIDE STATISTICS:</h5>

                  <h1>{{details1}}<br/>
                      {{details2}}</h1>
                </div>

            </div>
          </div>
          <div id="color-panel">
            <img class="boop" src="/light.jpg" width="50" @click="pickTheme(1)" title="Pick a color theme!"></img>
            <img class="boop" src="/dark.jpg" width="50" @click="pickTheme(2)"></img>
            <img class="boop" src="/neon.jpg" width="50" @click="pickTheme(3)"></img>
          </div>


      </div>

      <div id="sfmap">
      </div>

    </div>

    <script type="application/javascript" src="lib/main.bundle.js"></script>
  </body>
</html>
