<!DOCTYPE html>
<html>
  <head>
    <title>TNC Explorer</title>

    <!-- FAVICONS -->
<link rel="shortcut icon" href="http://www.sfcta.org/sites/all/themes/sfcta/favicon.ico" type="image/vnd.microsoft.icon" />    <meta name="theme-color" content="#ffffff">

    <!-- LEAFLET -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <!-- VUE -->
    <script src="https://unpkg.com/vue"></script>

    <!-- MAPBOX GL -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />

    <!-- SEMANTIC UI -->
    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/semantic.min.js"></script>

    <!-- MORRIS CHARTS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <link rel="stylesheet" href="css/dora.css" />
  </head>

  <body>
    <div id="container">

      <div id="panel">
          <div class="dashboard">
            <h3>TNC TRIP EXPLORER &raquo;&raquo;</h3>
            <hr/>
            <div id="picker">
                <h5>CHOOSE DIRECTION AND DAY OF WEEK:</h5>
                <button @click="pickPickup" v-bind:class="{ active: isPickupActive }"
                         class="mini ui inverted blue button">Pick-ups</button>
                <button @click="pickDropoff" v-bind:class="{ active: isDropoffActive }"
                         class="mini ui inverted red button">Drop-offs</button>
                <br/>
                <br/>
                <button v-for="(item, index) in days"
                        @click="clickDay(index)"
                        class="mini ui inverted button"
                        v-bind:class="{ active: index==day, blue: index <5, red: index >= 5 }"
                        v-bind:class="">{{item}}
                </button>
                  <div id="sliderpanel">
                    <button class="mini ui inverted active red button">All Day</button>

                    <vue-slider v-bind="timeSlider" v-model="sliderValue"></vue-slider>
                  </div>
                </h5>
                <div id="stats-panel">
                  <br/><br/>
                  <hr/>
                  <h5>CITYWIDE STATISTICS:</h5>
                  <h1>{{details1}}<br/>
                      {{details2}}</h1>
                  <div id="daily-chart"></div>
                </div>

            </div>
          </div>
          <div id="color-panel">
            <img class="colors" src="/light.jpg" width="35" @click="pickTheme(1)" title="Pick a color theme!"></img>
            <img class="colors" src="/dark.jpg"  width="35" @click="pickTheme(2)" title="Pick a color theme!"></img>
            <img class="colors" src="/neon.jpg"  width="35" @click="pickTheme(3)" title="Pick a color theme!"></img>
          </div>
          <div class="logo">
            <hr/>
            <table><tr><td>
              <h4 class="agency"><b><a target="_blank" href="http://www.sfcta.org">SAN FRANCISCO COUNTY TRANSPORTATION AUTHORITY</a></b></h4></td>
              <td><a class="agency-link" target="_blank" href="http://www.sfcta.org"><img src="/sfcta-logo.png" width=80 height=80 ></img></a></td></tr>
            </table>
          </div>



      </div>

      <div id="sfmap">
      </div>

    </div>

    <script type="application/javascript" src="lib/main.bundle.js"></script>
  </body>
</html>
