/* DORA - the fast-trips data EXPLORAH */
html,body, { width=100%; height:100%; margin:0;
  background-color: #222;
  font-family: Noto,Arial;
}

#container { position: relative; width:100%; height:100%}

#panel {
  position:absolute;
  width:300px;
  height:100%;
  top: 0;
  right: 0;
  padding:0px 10px 10px 10px;
  z-index:10;
  background-color:#567;
  float: right;
}

#sfmap {
  margin-right: 300px;
  height:100%;
}

#panel label {
    display: block; padding-top:10px;
}
